table {
     color:blue;
}

tr {
    color: red;
}
dl {
    color:green;
}
dt {
    color:blue;
}
dd {
    color:red;
}

caption {
    color:orange;
}
ul {
    color:darkviolet;
}
ol {
    color:darkgoldenrod;
}